<div class="container">
  <div class="row">
    <div class="col-md-4 text-center">
      <div class="single_service wow fadeInUp" data-wow-delay=".5s">
        <i class="icon-laptop"></i>
        <h2>UI/UX</h2>
        <p>has experience almost one year in UI / UX and has completed many projects within web application design scope</p>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="single_service wow fadeInUp" data-wow-delay="1s">
        <i class="icon-gears"></i>
        <h2>FrontEnd Developer</h2>
        <p>many projects that I have done and deliver me to frontend developers with various programming languages ​​and various frameworks that are in use</p>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="single_service wow fadeInUp" data-wow-delay="1.5s">
        <i class="icon-pencil"></i>
        <h2>Graphic Designer</h2>
        <p>many people who entrust me to design various needs such as game assets, animated videos, posters, banners and much more</p>
      </div>
    </div>
  </div>
</div>
