<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="about_title">
        <h2>Formal Education</h2>
        <img src="{{ "/assets/img/shape.png" | prepend: site.baseurl }}" alt="">
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6  wow fadeInLeft animated">
      <ul class="education-list">
        <li class="clearfix">
          <strong class="year">2013 - 2016</strong>
          <strong class="title">Diploma III</strong>
          <span class="cont">POLITEKNIK ELEKTRONIKA NEGERI SURABAYA - Jurusan Teknik Informatika</span>
        </li>
        <li class="clearfix">
          <strong class="year">2010 - 2013</strong>
          <strong class="title">SMA / SMK</strong>
          <span class="cont"> SMK MASKUMAMBANG 1 Dukun, Gresik - Jurusan Teknik Komputer dan Jaringan</span>
        </li>
        <li class="clearfix">
          <strong class="year">2007 - 2010</strong>
          <strong class="title">SMP / MTs</strong>
          <span class="cont">MTs YKUI MASKUMAMBANG Dukun, Gresik</span>
        </li>
        <li class="clearfix">
          <strong class="year">2001 - 2007</strong>
          <span class="title">SD / MI</span>
          <span class="cont">MI YKUI MASKUMAMBANG Dukun, Gresik</span>
        </li>
      </ul>
    </div>
    <div class="col-md-6 text-center  wow fadeInRight animated">
      <img src="{{ "/assets/img/formal-education.png" | prepend: site.baseurl }}" alt="">
    </div>
  </div>
</div>
