<div class="modal fade product_view" id="product_view">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
        <h3 class="modal-title">HTML5 is a markup language</h3>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 product_img">
            <img src="{{ "/assets/img/no-photo.jpg" | prepend: site.baseurl }}" alt="" class="img-responsive">
          </div>
          <div class="col-md-12 product_content">
            <p>Project Description</p>
            <!-- <h3 class="cost"><span class="glyphicon glyphicon-usd"></span> 75.00 <small class="pre-cost"><span class="glyphicon glyphicon-usd"></span> 60.00</small></h3> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>