<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="work_title  wow fadeInUp animated">
        <h2>Portofolio</h2>
        <img src="{{ "/assets/img/shape.png" | prepend: site.baseurl }}" alt="">
        <p>showcase of my latest works</p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 no_padding">
      <div class="single_image">
        <img src="{{ "/assets/img/no-photo.jpg" | prepend: site.baseurl }}"alt="">
        <div class="image_overlay">
          <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#product_view"><i class="fa fa-search"></i> View Project</button> -->
          <button type="button" class="btn btn-primary"><i class="fa fa-search"></i> View Project</button>
          <h2>title</h2>
          <h4>describe</h4>
        </div>
      </div>
    </div>
    <div class="col-md-4 no_padding">
      <div class="single_image">
        <img src="{{ "/assets/img/no-photo.jpg" | prepend: site.baseurl }}"alt="">
        <div class="image_overlay">
          <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#product_view"><i class="fa fa-search"></i> View Project</button> -->
          <button type="button" class="btn btn-primary"><i class="fa fa-search"></i> View Project</button>
          <h2>title</h2>
          <h4>describe</h4>
        </div>
      </div>
    </div>
    <div class="col-md-4 no_padding">
      <div class="single_image">
        <img src="{{ "/assets/img/no-photo.jpg" | prepend: site.baseurl }}"alt="">
        <div class="image_overlay">
          <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#product_view"><i class="fa fa-search"></i> View Project</button> -->
          <button type="button" class="btn btn-primary"><i class="fa fa-search"></i> View Project</button>
          <h2>title</h2>
          <h4>describe</h4>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="row pad_top">
    <div class="col-md-4 no_padding">
      <div class="single_image">
        <img src="{{ "/assets/img/no-photo.jpg" | prepend: site.baseurl }}"alt="">
        <div class="image_overlay">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#product_view"><i class="fa fa-search"></i> View Project</button>
          <h2>title</h2>
          <h4>describe</h4>
        </div>                        
      </div>
    </div>
    <div class="col-md-4 no_padding">
      <div class="single_image">
        <img src="{{ "/assets/img/no-photo.jpg" | prepend: site.baseurl }}"alt="">
        <div class="image_overlay">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#product_view"><i class="fa fa-search"></i> View Project</button>
          <h2>title</h2>
          <h4>describe</h4>
        </div>                        
      </div>
    </div>
    <div class="col-md-4 no_padding">
      <div class="single_image last_padding">
        <img src="{{ "/assets/img/no-photo.jpg" | prepend: site.baseurl }}"alt="">
        <div class="image_overlay">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#product_view"><i class="fa fa-search"></i> View Project</button>
          <h2>title</h2>
          <h4>describe</h4>
        </div>                        
      </div>
    </div>
  </div> -->
  <!-- <div class="button-control text-center">
    <a href="{{ "/more-portofolio.html" | prepend: site.baseurl }}" class="btn btn-primary btn-lg">Show More</a>
  </div> -->
</div>
{% include modal.html %}