<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="work_title  wow fadeInUp animated">
        <h2>Portofolio</h2>
        <img src="{{ "/assets/img/shape.png" | prepend: site.baseurl }}" alt="">
        <p>showcase of my latest works</p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 no_padding">
      <div class="single_image">
        <img src="{{ "/assets/img/no-photo.jpg" | prepend: site.baseurl }}"alt="">
        <div class="image_overlay">
          <a href="">View Full Project</a>
          <h2>title</h2>
          <h4>describe</h4>
        </div>
      </div>
    </div>
    <div class="col-md-4 no_padding">
      <div class="single_image">
        <img src="{{ "/assets/img/no-photo.jpg" | prepend: site.baseurl }}"alt="">
        <div class="image_overlay">
          <a href="">View Full Project</a>
          <h2>title</h2>
          <h4>describe</h4>
        </div>
      </div>
    </div>
    <div class="col-md-4 no_padding">
      <div class="single_image">
        <img src="{{ "/assets/img/no-photo.jpg" | prepend: site.baseurl }}"alt="">
        <div class="image_overlay">
          <a href="">View Full Project</a>
          <h2>title</h2>
          <h4>describe</h4>
        </div>
      </div>
    </div>
  </div>
