<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="work_title  wow fadeInUp animated">
        <h2>Portofolio</h2>
        <img src="{{ "/assets/img/shape.png" | prepend: site.baseurl }}" alt="">
        <p>showcase of my latest works</p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="portofolioPreview"></div>
    <!-- <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter web">';
    <div class="single_image">
    <img src="/assets/img/no-photo.jpg" alt="" class="img-responsive">
    <div class="image_overlay">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#sasanti"><i class="fa fa-search"></i> View Project</button>
    <h2>lalala</h2>
    <h4>test</h4>
    </div>
    </div> -->
</div>

  <div class="button-control text-center">
    <a href="{{ "/more-portofolio/" | prepend: site.baseurl }}" class="btn btn-primary btn-lg">Show More</a>
  </div>
</div>
{% include modal.html %}
